.nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 13px 6px 10px 6px;
  background-color: rgb(30, 40, 51);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
