@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    .scrollbar{
      scrollbar-color: #D2D2D2 transparent;
      scrollbar-width: thin;
      &::-webkit-scrollbar{
        :window-inactive:5px;
      }
      &::-webkit-scrollbar-track{
        background:#D2D2D2;
      }
      &::-webkit-scrollbar-thumb{
        background-color:#D2D2D2;
        border-radius:5px;
      }
    }
  .ReactModal__Overlay {
      opacity: 0;
      transition: opacity 200ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open{
      opacity: 1;
      position:fixed;
      bottom: 5px; 
      left: 70%; 
     
      width:500px;
  }
  
  .ReactModal__Overlay--before-close{
      opacity: 0;
  }
  .modal {
    transition: opacity 0.25s ease;
  }
  .modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
  }
  
};
